server {
  listen 80;
  listen 443 ssl;
  server_name {{ lookup('env', 'BACKEND_HOST_NAME') }};

  ssl_certificate /etc/letsencrypt/live/{{ lookup('env', 'BACKEND_HOST_NAME') }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ lookup('env', 'BACKEND_HOST_NAME') }}/privkey.pem;

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
  ssl_prefer_server_ciphers off;

  location / {
    proxy_pass http://localhost:8080;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}